:root {
    --primary-color: #08fdd8;
    --secondary-color: #FD1056;
}


body {
    background-color: #1d1d1d;
    color: white;
}



/* The side navigation menu */
header {
    height: 50px;
    background-color: rgb(20, 20, 20); 
    display: flex;
    justify-content: center;
    color: var(--primary-color);
}

form {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid white;
}

button {
  font-size: 1.2rem;
  text-decoration:none;
  width: 100%;
  /* display: block; */
  margin: 12px 0;
  border-radius: 5px;
  color: rgb(20, 20, 20);
  border: none;
  background-color: var(--primary-color);
}
  
input {
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    text-align: center;
}

.weather-specs {
    border: 1px solid white;
    padding: 10px;
    margin: 10px auto 20px auto;
}  

.forecast-box {
    border: 1px solid white;
    padding: 10px 10px 0 10px;
    
}

.uv-index-green {
    background-color: rgb(11, 126, 11);
    margin-left: 10px;
    padding: 0 5px 0 5px ;
    border-radius: 3px;
}

.uv-index-yellow {
    background-color: rgb(212, 212, 20);
    color: rgb(20, 20, 20);
    margin-left: 10px;
    padding: 0 5px 0 5px ;
    border-radius: 3px;
}

.uv-index-red {
    background-color: rgb(221, 20, 20);
    margin-left: 10px;
    padding: 0 5px 0 5px ;
    border-radius: 3px;
}

.uv-index-div {
    display: flex;
}


  
  
  